body {
    margin: 0;
    background-color: #EBDCC5;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #EBDCC5;
    box-shadow: 0 2px 5px #450a0a; 
    gap: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
/* espaço pra logo */
.logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
}
.logo{
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.Outline{
    font-size: 32px;
    font-family: 'Times New Roman', cursive;
    font-weight: bold;
    /* laranja color: #E76729; */
    /* amarelo color: #FBC361; */
}
/* botões da direita */
.actions {
    display: flex;
    align-items: center;
    gap: 20px;
}
/* Botão "Conheça nossos produtos" */
.produtos-btn {
    background-color: transparent;
    border: 2px solid #E76729;
    color: #E76729;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    display: inline-flex;
}

.produtos-btn:hover {
    background-color: #E76729;
    color: white;
}

/* Botão do Carrinho */
.cart-btn {
    background-color: #E76729;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
}
.cart-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
}
/* Container principal do Banner */
.news-banner {
    width: 100%;
    height: 450px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('banner.jpg'); 
    background-size: cover;       
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;          
    justify-content: center;   
}

/* Estilização do texto */
.banner-content h1 {
    color: #ffffff;              
    font-size: 42px;            
    font-weight: bold;
    text-transform: uppercase;    
    letter-spacing: 2px;        
    text-align: center;
    margin: 0;
}
.banner-content p{
    color: #ffffff;            
    font-size: 18px;          
    text-align: center;
    margin-top: 10px;
}

/* Container da Seção Inteira */
.categorias-section {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: Arial, sans-serif;
}

/* Alinhamento e Espaço da Barra de Busca */
.search-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

/* Barra de pesquisa */
.search-container {
    display: flex;
    width: 100%;
    max-width: 500px;
    border: 1px solid #707070;
    height: 40px;
}

.search-input {
    flex: 1;
    padding: 0 15px;
    font-size: 15px;
    border: none;
    outline: none;
}

.search-input::placeholder {
    color: #a6a6a6;
}

.search-button {
    background-color: #E76729;
    border: none;
    color: white;
    padding: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-titulo {
    font-size: 18px;
    font-weight: bold;
    color: #222222;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
}

/* Alinhamento dos Círculos */
.categories-grid {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

/* Bloco de cada categoria */
.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333333;
    flex: 1;
    min-width: 120px;
}

.circle-thumb {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* Imagem dentro do círculo */
.circle-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-item span {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5px;
}

.showcase-section {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    font-family: Arial, sans-serif;
}

.showcase-titulo {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 40px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-bottom: 2px solid #000000;
    display: inline-block;
    padding-bottom: 8px;
}

/* Grade dos 4 produtos alinhados */
.products-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

/* Card individual do produto */
.product-card {
    flex: 1;
    min-width: 230px;
    background-color: #caaf9586;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* Imagem do produto */
.product-image {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Nome do produto */
.product-name {
    font-size: 11px;
    font-weight: bold;
    color: #000000;
    margin: 0;
    letter-spacing: 0.5px;
}

/* Preço principal */
.product-price {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

/* Parcelamento */
.product-installments {
    font-size: 12px;
    color: #E76729;
}
/* Container Seção de Benefícios */
.benefits-section {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Título*/
.benefits-titulo {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 50px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.benefits-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Card individual de cada benefício */
.benefit-card {
    flex: 1;
    min-width: 250px; 
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilização dos ícones pretos */
.benefit-icon {
    font-size: 36px;
    color: #000000;
    margin-bottom: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefit-name {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin: 0 0 12px 0;
}

.benefit-text {
    font-size: 13px;
    line-height: 1.6;
    margin: 0;
    text-align: center;
}

.main-footer {
    background-color: #FBC361; 
    color: #724128;
    padding: 50px 0 20px 0;
    font-family: Arial, sans-serif;
    margin-top: 80px; 
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-coluna {
    flex: 1;
    min-width: 200px;
}

.footer-coluna h4 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.footer-coluna ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-coluna ul li {
    margin-bottom: 12px;
}

/* Faixa inferior de Direitos Autorais */
.footer-bottom {
    max-width: 1200px;
    margin: 40px auto 0 auto;
    padding: 20px 20px 0 20px;
    border-top: 1px solid #222222;
    text-align: center;
}

.footer-bottom p {
    font-size: 11px;
    margin: 0;
}